    <h2>Personnel Duty Assignment System</h2>
    
    <form action="/personToDuty" method="post" id="addPersonDutyForm">
        <fieldset>
            <legend>
                Add Duty
            </legend>
            <label>First Name:</label>
            <input type="text" name="firstName">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" name="lastName">
            <br>
            <br>

            <label>Duty Name:</label>
            <input type="text" name="dutyName">
            <br>
            <br>

            <input type="submit" value="Assign Personnel to Duty" />
        </fieldset>
    </form>
    <br>

    <h2>Personnel Duty Assignments</h2>

    <table>
        <thead>
            <tr>
                <th>Personnel ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Duty ID</th>
                <th>Duty Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each personToDuty}}
            <tr>
                <td>{{personnelID}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{dutyID}}</td>
                <td>{{dutyName}}</td>
                <td><form action="/personToDuty/delete" method="post">
                        <input type="hidden" name="personnelID" value={{personnelID}}>
                        <input type="hidden" name="dutyID" value={{dutyID}}>
                        <input type="submit" value="Delete"/></form></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    