    <h2>Personnel Management System</h2>
    
    <form action="" method="post" id="addPersonForm">
        <fieldset>
            <legend>
                Add Personnel:
            </legend>
            <label>First Name:</label>
            <input type="text" id="fnameAdd" name="fnameAdd">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameAdd" name="lnameAdd">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Add Personnel" />
        </fieldset>
    </form>
    <br>
    <form action="" method="post" id="updatePersonForm">
        <fieldset>
            <legend>
                Update Personnel:
            </legend>
            <label>First Name:</label>
            <input type="text" id="fnameUpdate" name="fnameUpdate">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameUpdate" name="lnameUpdate">
            <br>
            <br>

            <label>Rank:</label>
            <input type="text" id="rankUpdate" name="rankUpdate">
            <br>
            <br>

            <label>Ship:</label>
            <input type="text" id="shipUpdate" name="shipUpdate">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Update Personnel" />
        </fieldset>
    </form>
    <br>
    <form action="" method="get" id="findPersonForm">
        <fieldset>
            <legend>
                Individual Personnel Search:
            </legend>
            <label>First Name:</label>
            <input type="text" id="fnameSearch" name="fnameSearch">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameSearch" name="lnameSearch">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Retrieve Personnel Information" />
        </fieldset>
    </form>

    <br>
    <form action="" method="delete" id="deletePersonForm">
        <fieldset>
            <legend>
                Delete Personnel:
            </legend>
            <label for="deletePersonnelID">Personnel ID:</label>
            <input type="number" id="deletePersonnelID" name="deletePersonnelID">
            <br>
            <br>

           

            <input type="submit" id="submitButton" value="Delete Personnel" />
        </fieldset>
    </form>
    <br>

    <h2>Personnel</h2>
    <form>
        <input type="submit" value="Retrieve Personnel">
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>Personnel ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rank ID</th>
                <th>Ship ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each personnel}}
            <tr>
                <td>{{personnelId}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{rankID}}</td>
                <td>{{shipID}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    