    <h2>Personnel Management System</h2>
    
    <form action="/personnel" method="post" id="addPersonForm">
        <fieldset>
            <legend>Add Personnel:</legend>
            <label>First Name:</label>
            <input type="text" id="fnameAdd" name="firstName">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameAdd" name="lastName">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Add Personnel" />
        </fieldset>
    </form>
    <br>

    
    <form action="/personnel/person" method="get" id="findPersonForm">
        <fieldset>
            <legend>Individual Personnel Search:</legend>
            <label>First Name:</label>
            <input type="text" id="fnameSearch" name="fnameSearch">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameSearch" name="lnameSearch">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Retrieve Personnel Information" />
            <br>
            <br>
            {{#if person}}
            <table>
                <thead>
                    <tr>
                        <th>Personnel ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Rank ID</th>
                        <th>Ship ID</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each person}}
                    <tr>
                        <td>{{personnelId}}</td>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{rankID}}</td>
                        <td>{{shipID}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}      
        </fieldset>
    </form>
    <br>

    <h2>Personnel</h2>
    <table>
        <thead>
            <tr>
                <th>Personnel ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rank ID</th>
                <th>Ship ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each personnel}}
            <tr>
                <td>{{personnelId}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{rankId}}</td>
                <td>{{shipId}}</td>
                <td>
                    <form action="/personnel/update" method="get">
                        <input type="hidden" name="personnelId" value={{personnelId}}>
                        <input type="submit" value="Update"/>
                    </form></td>
                <td>
                    <form action="/personnel/delete" method="post" id="deletePersonForm">
                        <input type="hidden" name="personnelId" value={{personnelId}}>
                        <input type="submit" value="Delete"/>
                    </form></td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
    