    <h2>Ship Management System</h2>
    
    <br>
    <fieldset>
        <legend>Add Ship</legend>
        <form action="/ships" method="post">
            <label for="shipName">Ship Name</label>
            <input type="text" id="shipName" name="shipName">
            <label for="registryNumber">Registry Number</label>
            <input type="text" id="registryNumber" name="registryNumber">
            <labe for="class">Class</label>
            <input type="text" id="class" name="class">
            <label for="currentLocation">Current Location</label>
            <input type="text" id="currentLocation" name="currentLocation">
            <label for="missionID">Mission ID</label>
            <input type="number" id="missionID" name="missionID">
            <input type="submit" value="Add Ship">
        </form>
    </fieldset>
    <br>

    <h2>Ships</h2>
    <form>
        <input type="submit" value="Retrieve Ships">
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>Ship ID</th>
                <th>Ship Name</th>
                <th>Registry</th>
                <th>Class</th>
                <th>Current Location</th>
                <th>Mission ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each ships}}
            <tr>
                <td>{{shipId}}</td>
                <td>{{shipName}}</td>
                <td>{{registry}}</td>
                <td>{{class}}</td>
                <td>{{location}}</td>
                <td>{{missionId}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
