
{{#if updatePersonnel}}
<form action="/personnel/update" method="post" id="updatePersonForm">
    <fieldset>
        {{#each updatePersonnel}}
        <legend>Update Personnel:</legend>
        <input type="hidden" name="updatePersonnelID" value={{personnelID}}>
        <br>
        <br>
        <label>First Name:</label>
        <input type="text" id="fnameUpdate" name="fnameUpdate" value={{firstName}}>
        <br>
        <br>

        <label>Last Name:</label>
        <input type="text" id="lnameUpdate" name="lnameUpdate" value={{lastName}}>
        <br>
        <br>

        <label>Rank:</label>
        <input type="text" id="rankUpdate" name="rankUpdate" value={{rankName}}>
        <br>
        <br>

        <label>Ship:</label>
        <input type="text" id="shipUpdate" name="shipUpdate" value="{{shipName}}">
        <br>
        <br>

        <input type="submit" id="submitButton" value="Update Personnel" />
        {{/each}}
    </fieldset>
</form>
<br>
{{/if}}