
<form action="/personnel/update" method="post" id="updatePersonForm">
    <fieldset>
        <legend>Update Personnel:</legend>
        <input type="hidden" name="updatePersonnelID" value={{person.personnelID}}>
        <br>
        <br>
        
        <label>First Name:</label>
        <input type="text" id="fnameUpdate" name="fnameUpdate" value={{person.firstName}}>
        <br>
        <br>

        <label>Last Name:</label>
        <input type="text" id="lnameUpdate" name="lnameUpdate" value={{person.lastName}}>
        <br>
        <br>
        <label for="rankUpdate">Rank: {{person.rankName}}</label>
        <select name="rankUpdate">
                {{#each ranks}}
                    <option value={{rankId}}>{{rankName}}</option>
                {{/each}}
        </select>
        <br>
        <br>

        <label for="shipUpdate">Ship: {{person.shipName}}</label>
        <select name="shipUpdate">
                {{#each ships}}
                    <option value={{shipId}}>{{shipName}}</option>
                {{/each}}
        </select>
        <br>
        <br>

        <input type="submit" id="submitButton" value="Update Personnel" />
    </fieldset>
</form>
<br>
